**/.vscode/**
**/vscode/*
**/scripts/*
**/venv/*
**.log
**.code-workspace
**login_details.py
**.png
**/__pycache__
**settings.json
**chromedriver.exe
**debug.log
**.cfg
**/chrome_profile_dir
**/platform-tools/*
**/platform-tools/*
**/Backend Scripts/platform-tools/*
